.identinty-icon {
  font-size: 20px;
  position: absolute;
  padding-top: 35px;
  padding-left: 572px;
} 

.users-icon {
    font-size: 20px;
    position: absolute;
    padding-top: 35px;
    padding-left: 550px;
  } 
  
  .emails-icon {
    font-size: 20px;
    position: absolute;
    padding-top: 35px;
    padding-left: 548px;
  }
  
  .passwords-icon {
    font-size: 20px;
    position: absolute;
    padding-top: 35px;
    padding-left: 518px;
  }
  
  .phones-icon {
    font-size: 20px;
    position: absolute;
    padding-top: 35px;
    padding-left: 543px;
  }
  
  .salaries-icon {
    font-size: 20px;
    position: absolute;
    padding-top: 35px;
    padding-left: 552px;
  }
  
  .departments-icon {
    font-size: 20px;
    position: absolute;
    padding-top: 35px;
    padding-left: 508px;
  }

.carousel-inner {
    margin-top: 30px;
  }

.btn-success {
    margin-right: 24px;
}

.btn-success:hover {
    background-color: rgb(6, 38, 0);
}

.btn-danger:hover {
    background-color: rgb(71, 4, 15);
}

.footer {
  font-size: small;
  font-weight: bold;
  text-align: center;
  font-family: Verdana;
}