.user-icon {
  font-size: 20px;
  position: absolute;
  padding-top: 35px;
  padding-left: 550px;
}

.email-icon {
  font-size: 20px;
  position: absolute;
  padding-top: 35px;
  padding-left: 548px;
}

.password-icon {
  font-size: 20px;
  position: absolute;
  padding-top: 35px;
  padding-left: 518px;
}

.phone-icon {
  font-size: 20px;
  position: absolute;
  padding-top: 35px;
  padding-left: 543px;
}

.salary-icon {
  font-size: 20px;
  position: absolute;
  padding-top: 35px;
  padding-left: 552px;
}

.department-icon {
  font-size: 20px;
  position: absolute;
  padding-top: 35px;
  padding-left: 508px;
}

.carousel-inner {
  margin-top: 30px;
}

.btn:hover {
    background-color: rgb(6, 2, 58);
}

.footer {
  font-size: small;
  font-weight: bold;
  text-align: center;
  font-family: Verdana;
}
